.loading {
    vertical-align: middle;
    position: relative;
    transform-origin: center;
    display: inline-flex;
    animation:  circle 1s linear infinite;
}

@keyframes circle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}